<<: !include .base.yaml

esp8266:
  board: d1_mini
  restore_from_flash: true

logger:

number:
  - platform: template
    id: spool_weight
    name: Spool weight
    icon: "mdi:tire"
    min_value: 0
    max_value: 1000
    step: 1
    unit_of_measurement: g # grams
    optimistic: true

sensor:
  - platform: hx711
    id: filament_weight_sensor
    name: Weight Sensor Output
    dout_pin: D3
    clk_pin: D4
    unit_of_measurement: g
    internal: True
    on_value: 
      then:
        - component.update: filament_weight

  - platform: template
    id: filament_weight
    name: Filament weight
    #
    # calibration:
    # empty: -405797
    # with 1123g: 70875
    #
    lambda: |-
      return ((1123-0) * (id(filament_weight_sensor).state - -405797) / (70875 - -405797) + 0) - id(spool_weight).state;
    
  - platform: dht
    model: DHT22_TYPE2
    pin: D2
    temperature: 
      name: Temperature
    humidity: 
      name: Humidity