<<: !include .base.yaml

esphome:
  name: esphome-web-ccce90
  friendly_name: ESPHome-Lightstrip-Bedroom

esp8266:
  board: d1_mini
  restore_from_flash: true

logger:
  level: DEBUG

light:
  - id: lightstrip
    platform: neopixelbus
    type: GRB
    variant: WS2812
    pin: D4
    num_leds: 320
    name: "Light Strip"
    restore_mode: RESTORE_DEFAULT_OFF
    effects: 
      - addressable_rainbow: 
          name: Rainbow
          speed: 10
          width: 50
      - addressable_lambda: 
          name: animate on
          update_interval: 10ms
          lambda: |-
            static int position = 0;            
            if (initial_run) {
              it.all() = Color::BLACK;
              position = 0;
              return;
            }
            if (position > 315) {
              return;
            }
            it[position] = current_color;
            it[position+1] = current_color;
            it[position+2] = current_color;
            it[position+3] = current_color;
            it[position+4] = current_color;
            
            position = position+5;
      - addressable_lambda: 
          name: animate off
          update_interval: 10ms
          lambda: |-
            static int position = 0;            
            if (initial_run) {
              //it.all() = Color::WHITE;
              position = 0;
              return;
            }
            if (position > 315) {
              return;
            }
            it[position] = Color::BLACK;
            it[position+1] = Color::BLACK;
            it[position+2] = Color::BLACK;
            it[position+3] = Color::BLACK;
            it[position+4] = Color::BLACK;
            
            position = position+5;

binary_sensor:
  - platform: gpio
    name: "Light Switch"
    id: light_switch
    filters:
      - delayed_off: 150ms
    pin:
      number: D3
      mode:
        input: true
        pullup: true
      inverted: true
    on_press:
      # on_release custom debounce?
      #- lambda: |-
      #    if(id(light_state).state) {
      #      id(lightstrip).turn_on().set_effect("animate off").perform();
      #      id(lightstrip).turn_off();
      #      id(light_state).publish_state(false);
      #    } else {
      #      id(lightstrip).turn_on().set_effect("animate on").perform();
      #      id(light_state).publish_state(true);
      #    }
      - light.toggle:
          id: lightstrip
  - platform: status
    id: light_state
    name: "Light State"